.card {
  /* display: flex; */
  color: rgb(0, 0, 0);
}
.link {
  margin-right: 20px;
  text-decoration: none;
  color: black;
  font-size: 25px;
}

.activeLink {
  color: rgb(23, 20, 220);
}

.btn {
  height: 30px;
  width: 50px;
  border: 1px solid;
  background-color: transparent;
  color: black;
  cursor: pointer;
  margin: 30px;
}
